<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{text-align:center;} Labeled Image Stream</title>
</head>
<body style="background-color:black;font-family:verdana">
    <h1 style = "color:#ffffff;">LAG Laser Alignment</h1>
    <img src="/video" alt="Labeled Image Stream" width=100% height=auto>
    <h1>Raspberry Pi Control</h1>
    <form action="/shutdown" method="post">
        <input type="submit" value="Shutdown Raspberry Pi">
    </form>
</body>
</html>
